@use '../../abstracts' as *;
@use '../../base' as *;

.content__title {
  font-size: $font-lg;
  color: $titleTextColor;
  font-weight: $font-bold700;
  padding-bottom: 2rem;
  border-bottom: 1px solid $lightGray;
}
