Layout, Wiki, Ranking @[turkey-kim](https://github.com/turkey-kim)  
Layout, Carousel @[jinuk0316](https://github.com/jinuk0316)  
Firestore, Wiki @[JitHoon](https://github.com/JitHoon)  
Firestore, Gallery @[yangjaehyuk](https://github.com/yangjaehyuk)  
Firestore, Timer @[suyeonnnnnnn](https://github.com/suyeonnnnnnn)
