@use '../abstracts/' as *;
@use '../base/' as *;

.nav {
  width: 224px;
  height: 100vh;
  background-color: $blue;
  color: $white;
  font-size: 1.4rem;

  .nav__depth {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    color: $white;

    &__item {
      list-style: none;
      position: relative;

      &.on {
        font-weight: $font-bold700;
      }
    }

    &__link {
      padding: 20px 16px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;

      &:hover {
        background-color: $darkBlue;
      }
    }

    &__link[data-type='toggle']::after {
      content: '';
      width: 10px;
      height: 12px;
      background: url('../../assets/right.svg');
      background-position: center;
      background-repeat: no-repeat;
      margin-left: auto;
    }

    &__logo {
      margin-right: 10px;
    }

    .nav__detail {
      background-color: $white;
      width: 180px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 auto;
      border-radius: 5px;

      &__item {
        width: 100%;
      }

      &__link {
        display: flex;
        color: $gray;
        font-size: 1.2rem;
        border-radius: 5px;
        margin: 0 5px;
        padding: 8px 16px;

        &.on {
          color: $blue;
          font-weight: $font-bold700;
        }

        &:hover {
          background-color: $lightGray;
        }
      }
    }
  }
}
