@use '../abstracts' as *;

.listbox {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $blue;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1.5rem 1rem;
  background-color: $white;
  cursor: pointer;
  @include shadow;

  &__delete-checkbox {
    flex: 0.5;
  }

  &__title {
    flex: 20;
    font-size: 1.3rem;
  }

  &__modify-btn {
    padding: 1rem 2rem;
  }

  &__delete-btn {
    padding: 1rem 2rem;
    background-color: $gray;
    margin-left: 1rem;
  }
}
