.RankingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.RankingInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 80%;
  min-height: 100%;

  padding: 2rem;
}

.RankingTitle {
  margin: 2rem;
}

.ListContainer {
  display: flex;
  justify-content: space-between;

  width: 800px;
  height: 50px;

  margin: 1rem;

  border-radius: 1rem;

  background-color: #f1f4f6;
}

.ListContainer div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;

  font-weight: 600;
}
