@import '../../styles/reset.css';
@import '~bootstrap/scss/bootstrap';
@import '../_common.scss';

* {
  font-family: $fontMain;
}

.gallery-container {
  font-family: $fontMain;
  margin: 5%;
  overflow: hidden;
  a {
    text-decoration: none;
  }
  h2 {
    display: block;
    margin: 10px;
    color: $highlightColor;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
  }
}
