@import '~bootstrap/scss/bootstrap';
@import '../_common.scss';

.signup-container {
  font-family: $fontMain;
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 2% auto 0;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: $backgroundColor-50;

  h3 {
    margin-bottom: 20px;
    color: $highlightColor;
    font-weight: 700;
    width: 100%;
  }
}
