/* src/pages/Gallery.tsx */

.GalleryWrapper {
  display: flex;

  width: 100%;
  min-height: 850px;
}

.material-symbols-outlined {
  background-color: transparent;

  cursor: pointer;

  font-size: 2rem;

  border: transparent;
}

.material-symbols-outlined:nth-child(1) {
  margin-right: 1.4rem;
}

.Photo {
  width: 50%;
  height: 100%;
  margin-bottom: 4%;
}

.PhotoImgDiv {
  text-align: center;
}

.PhotoImg {
  width: 300px;
  height: 500px;
}

.GallerySidebar {
  display: flex;
  flex-direction: column;

  width: 250px;

  padding: 2rem 0;

  background-color: #34576d;

  color: white;
}

.GalleryCategory {
  padding: 1rem;
  margin: 0rem 0.5rem;

  border-bottom: 1px solid white;

  font-size: 1.2rem;
  font-weight: 600;
}

.GalleryListWrapper {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  padding: 1.2rem 0rem;
}

.GalleryListWrapper > a {
  padding: 0.6rem 1rem;

  color: white;

  text-align: left;
  text-decoration: none;

  cursor: pointer;
}

.GalleryListWrapper > a:hover {
  font-weight: 600;

  transition: all 0.3s;
  transform: scale(1.07);
}

.GalleryContentSection {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: inherit;

  padding: 0.5rem;
}

/* src/components/Gallery/Album.tsx */

#AlbumWrapper {
  height: 100%;
}

#AlbumHeader {
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid #34576d;
}

#AlbumTitle {
  padding: 1.4rem;

  text-align: left;
}

#AlbumIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 1.4rem;
}

#AlbumContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 1.5rem;
}
