/* .header {
    background-color: #333; 
    color: white; 
    padding: 10px 0; 
    text-align: center; 
  } */
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid rgb(204, 204, 204);
    width: 90%;
  }
  
  .menu-icon {
    font-size: 36px; 
    cursor: pointer;
  }
  
  .site-title {
    font-size: 24px; 
  }

  .mainText {
    font-size: 24px; 
    margin: 0 auto; 
  }

  .menu {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 50px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }
  
  .menu.active {
    opacity: 1; 
    transform: translateY(0);
  }
  
  .menu a {
    margin-right: 10px;
    text-decoration: none;
    color: coral
  }
  
  
  
  