/* .header {
    background-color: #333; 
    color: white; 
    padding: 10px 0; 
    text-align: center; 
  } */
  
  /* .menu-icon {
    font-size: 36px; 
    cursor: pointer;
  }
  
  .site-title {
    font-size: 24px; 
  }

  .mainText {
    font-size: 24px; 
    margin: 0 auto; 
  }

  .menu {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 50px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }
  
  .menu.active {
    opacity: 1; 
    transform: translateY(0);
  }
  
  .menu a {
    margin-right: 10px;
    text-decoration: none;
    color: coral
  } */
  
  
  .pageList {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid rgb(204, 204, 204);
    width: 90%;
  }

  .logo img {
    width: 60px; /* 원하는 너비로 조정 */
    height: auto; /* 가로세로 비율 유지 */
    margin-right: 100px;
  }
  
  
  .page {
    font-size: 30px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: normal;
    color: gray;
    text-decoration: none; /* 밑줄 제거 */
  }
  
  .page.active {
    color: black;
    font-weight: bold;
  }
  
  .page:hover {
    color: coral;
  }
  