.main-container-text {
    padding-top: 15px;
    margin: 0 auto;
    font-size: 70px;
    width: 90%;
    display: flex;
    align-items: center;
}
.carousel {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; /* 화면 높이에 맞게 조절 */
  }
  
  /* 슬라이더 너비 조절 */ 
  .carousel .slick-slider {
    width: 80%;
    max-width: 800px; 
  }
  
  .carousel .slick-slide img {
    width: 800px;
    height: 500px; 
  }