@import '_common.scss';

.main-container-text {
  margin: 0 auto;
  font-size: 70px;
  width: 90%;
  display: flex;
  align-items: center;
}


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
  /* height: 100vh; 화면 높이에 맞게 조절 */
}

/* 슬라이더 너비 조절 */
.carousel .slick-slider {
  width: 100%;
}

.carousel .slick-slide img {
  width: 600px;
  height: 420px;
  margin-left: auto;
}

.slide {
  display: flex;
  align-items: center;
}

.slide-content {
  display: flex;
  width: 100%;
  height: 500px;
  font-family: $fontMain;
}

.slide-left {
  flex: 1;
  flex-direction: column;
  padding-left: 7.5%;
  margin: auto;
}

.slide-right {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
}

.post-list-top {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.newPostBtn {
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  background-color: $highlightColor;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.newPostBtn:hover {
  background-color: $backgroundColor-50;
}

/* 모달 열기 상태를 처리하는 CSS */
.modal.open {
  display: flex;
}

.main-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.main-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
}

.main-modal-text {
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.modal-header {
  text-align: center;
}

.modal-body {
  margin-top: 20px;
}

.modal-body label {
  display: block;
  margin-bottom: 5px;
}

.modal-body input,
.modal-body textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-footer {
  text-align: center;
  margin-top: 20px;
}

.modal-footer button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: $highlightColor;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer button:last-child {
  background-color: #363636;
}

.posted-text {
  font-family: 'LOTTERIACHAB', 'Tossface';
  color: $highlightColor;
  font-size: 40px;
}

.post-container {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  font-family: $fontMain;
}

.post-content-container-top {
  display: flex;
  align-items: baseline;
}

.deleteBtn {
  margin-left: auto;
  font-size: 12px;
  font-weight: bold;
  background-color: $highlightColor;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 3px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.deleteBtn:hover {
  background-color: $backgroundColor-50;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.post-item {
  border-radius: 20px;
  overflow: hidden;
}

.post-user {
  font-size: 15px;
  font-weight: 500;
  color: $grayColor;
}

.post-due-date {
  font-size: 15px;
  font-weight: 500;
  color: $backgroundColor;
}

.post-title {
  font-size: 20px;
  font-weight: 500;
  color: $highlightColor;
}

.post-content {
  font-size: 17px;
  font-weight: 500;
  color: $blackColor;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

/* 작성된 게시글 모달창 디자인 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contents {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-width: 600px;
  height: 400px;
  border-radius: 8px;
  text-align: left;
  position: relative;
}


.closeBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px; 
}

.close-button:hover {
  background-color: $backgroundColor-50;
}

/* Posted info styles */
.postedInfo {
  margin-top: 20px;
}

/* Posted text styles */
.postedText {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Posted content styles */
.postedContent {
  font-size: 16px;
}

.postedNickname {
  color: $grayColor;
}

.postedDate {
  color: $backgroundColor;
}

.postedTitle {
  font-size: 20px;
  font-weight: 500;
  color: $highlightColor;
}

.postedContent {
  font-size: 20px;
  font-weight: 500;
  color: $blackColor;
}


/* 페이지 네비게이션 스타일 */
.pagination-buttons {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../images/backBtn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  margin-right: 3px;
}

.right-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../images/nextBtn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
}

.pagination-buttons button img {
  width: 100%;
  height: 100%;
}

.pagination-buttons button:disabled {
  cursor: not-allowed;
}

.grid-item {
  border: 2px solid $mainColor;
  padding: 16px;
  background-color: $whiteColor;
}

.post-content-container-bottom {
  background-color: $whiteColor;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 50px;
}