.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8%;
}

.ModalContent {
  position: relative;
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: white;
  z-index: 1001;
  border-radius: 8px;
}

.CloseButton {
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: rgba(255, 55, 115, 0.8);
  font: inherit;
  text-indent: 100%;
  cursor: pointer;

  &:focus {
    outline: solid 0 transparent;
    box-shadow: 0 0 0 2px rgba(255, 55, 115, 0.8);
  }

  &:hover {
    background: rgba(231, 122, 222, 0.1);
  }

  &:before,
  &:after {
    position: absolute;
    top: 15%;
    left: calc(50% - 0.0625em);
    width: 0.125em;
    height: 70%;
    border-radius: 0.125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: "";
  }

  &:after {
    transform: rotate(-45deg);
  }
}
