.TimerModalContent {
  position: relative;
  z-index: 1001;

  width: 500px;
  height: 300px;

  padding: 20px;

  background-color: white;
  border-radius: 8px;
}

.ModalClock {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: blue;
}
