/* common */

.WikiButton {
  width: 80px;

  padding: 0.4rem 1rem;
  margin: 0.5rem;

  border: none;
  border-radius: 0.5rem;

  color: white;
  font-weight: 500;

  opacity: 0.8;
}

.WikiButton:hover {
  opacity: 1;

  transition: 0.5s all;
}

/* src/pages/Wiki.tsx */

.WikiWrap {
  display: flex;

  width: 100%;
  min-height: 850px;
}

.WikiSidebar {
  display: flex;
  flex-direction: column;

  width: 250px;

  padding: 2rem 0;

  background-color: #34576d;

  color: white;
}

.WikiCategory {
  padding: 1rem;
  margin: 0rem 0.5rem;

  border-bottom: 1px solid white;

  font-size: 1.2rem;
  font-weight: 600;
}

.CategoryListWrapper {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  padding: 1.2rem 0rem;
}

.CategoryListWrapper > a {
  padding: 0.6rem 1rem;

  color: white;

  text-align: left;
  text-decoration: none;

  cursor: pointer;
}

.CategoryListWrapper > a:hover {
  font-weight: 600;

  transition: all 0.3s;
  transform: scale(1.07);
}

.markdown-body {
  height: 100%;

  padding: 1rem 3rem 5rem;
}

/* src/component/Wiki/Content */

.WikiContentWrap {
  display: flex;
  flex-direction: column;

  width: 80%;

  padding: 0.5rem;
}

.ContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid #34576d;
}

#contentTitle {
  padding: 1.4rem;

  text-align: left;
}

/* src/component/Wiki/TextEditor */

.TextEditorWrap {
  display: flex;
  flex-direction: column;
}

#editor-form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 450px;
}
