@use './variables' as *;

@mixin a11y-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

@mixin flex-center-row() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin shadow() {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
