// Font Size
$font-sm: 1rem;
$font-base: 1.6rem;
$font-lg: 2.4rem;

// Font Weight
$font-thin: 300;
$font-normal: 400;
$font-bold500: 500;
$font-bold700: 700;
$font-bold900: 900;

// Auth form
$formWidth: 38rem;

// color
// sidebar bg: $blue
// bg image: linear-gradient(180deg,$blue 10%,$darkBlue 100%)

$blue: #4e73df;
$darkBlue: #224abe;
$white: #fff;
$black: #5a5c69;
$titleTextColor: #202020;

$bg-light: #f8f9fc;

$failed: #e74a3b;
$success: #1cc88a;

$gray: #3a3b45;
$lightGray: #eaecf4;
