.authentication__form{
  display: flex;
  flex-flow: column;
  gap: 30px;
  margin-bottom: 40px;
}

.authentication__form-el{
  display: flex;
}

.authentication__form-el label{
  flex: 0 0 80px;
  height: 30px;
}

.authentication__form .btn{
  width: 175px;
  height: 48px;
  margin: 20px auto;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

