.CarouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90vw;
  height: 81vh;

  margin: auto;
}

.Slideshow {
  display: flex;

  width: 60vw;
  height: 60vh;

  overflow: hidden;
}

.SlideshowImgBox {
  width: auto;
  height: 100%;

  margin-right: 0 20vh;
}

.SlideshowImgBox img {
  width: 60vw;
  height: 100%;

  border-radius: 8px;

  object-fit: cover;

  transition: transform 0.3s ease-in-out;
}

.Dots {
  margin-top: 10px;
}

.Dot {
  display: inline-block;

  width: 10px;
  height: 6px;

  margin: 0px 5px;
  padding: 0 10px;

  cursor: pointer;
}
