@import '../../styles/reset.css';
@import '/src/styles/_common';
nav {
  width: 70%;
  height: 100%;
  margin: auto;
  font-family: $fontMain;
}

.boardList {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  justify-content: space-around;
}

.comment {
  margin: auto;
}

.btn-primary {
  margin-right: 2px;
}
