.board {
    width: 70%;
    margin: auto;
    padding-top: 100px;
}

.profile__name {
    margin-bottom: 10px;
}

.board__profile {
    margin-bottom: 30px;
}

.board__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.board__content {
    font-size: 16px;
    margin-bottom: 100px;
}