.board {
    width: 70%;
    margin: auto;
    padding-top: 100px;
}

.profile__name {
    margin-bottom: 10px;
}

.board__profile {
    margin-bottom: 30px;
}

.board__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.board__content {
    font-size: 16px;
    margin-bottom: 100px;
}

.board__header {
    display: flex;
    justify-content: space-between;
}

.wmde-markdown {
    background-color: white !important;
    color: black !important;
}

.hide{
    display: none;
}

.info__hide {
    display: none;
}

.comment__state__box {
    display: flex;
    justify-content: flex-end
}

.form-control {
    margin-bottom: 30px;
}

.board__content {
    padding:5px;
    background-color: inherit !important;

    
}

.content__title {
    font-family: 'LOTTERIACHAB';
}

.btn.btn-primary {
    font-size: 18px;
    font-weight: bold;
    background-color: #ad704a;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    text-decoration: none; 
}

.btn.btn-primary:hover {
    background-color: rgba(213, 150, 82, 0.5);
}

.btn__box {
    display: flex;
    margin-bottom : 10px;

}

.btn-edit , .btn-delete {
    font-size: 14px;
}

.board__info {
    padding-left : 10px;
}

#comment__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn.btn-primary.btn-comment-edit, .btn.btn-primary.btn-comment-delete {
    background-color: inherit;
    color: #ad704a;


}

.btn-confirm-box {
    display: flex;
    justify-content: end;
}

