@import '/src/styles/common';
.Header {
  width: 100%;
  font-family: 'LOTTERIACHAB';
}
.pageList {
  margin: 0px 0px 0px 3%;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  img {
    display: block;
    width: 60px;
    height: auto;
    margin-right: 100px;
  }
}
.page {
  font-size: 40px;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: normal;
  color: gray;
  text-decoration: none;
}

.page.active {
  color: black;
  font-weight: bold;
}

.page:hover {
  color: coral;
}

.auth-buttons {
  margin-left: auto;
  padding-right: 150px;
  font-family: $fontMain;
}

.signInBtn {
  font-size: 20px;
  font-weight: bold;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  text-decoration: none;
}

.signUpBtn {
  font-size: 20px;
  font-weight: bold;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.signInBtn:hover {
  background-color: rgb(214, 108, 69);
}

.signUpBtn:hover {
  background-color: rgb(214, 108, 69);
}

.userInfo-container {
  display: flex;
  align-items: center;
}

.userNickname-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  margin-right: 15px;
  line-height: 1.2;
  margin-top: 5px;
}

.logoutBtn {
  font-size: 20px;
  font-weight: bold;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutBtn:hover {
  background-color: rgb(214, 108, 69);
}
