@import '../../styles/_common.scss';

.modal-container {
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 80vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &-comment {
    max-width: 80vw;
    height: auto;
  }
  &-image {
    width: 40vw;
  }
}

.modal-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  max-height: 100%;
  width: 100%;
  flex-direction: column;
}

//공통 Close버튼
.btn-close {
  margin-top: 15px;
  width: 45px;
  height: auto;
}

.comment-h2 {
  display: block;
}
