@import '../../styles/_common.scss';

.addImage-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  label {
    color: $blackColor;
    font-size: 16px;
  }
  select {
    border: none;
    background-color: $whiteColor;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .dropZone {
    height: 250px;
    background-color: $backgroundColor;
  }
}

.preview {
  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
  }
  &-image {
    width: 200px;
    height: auto;
  }
}
