@import '../../styles/_common.scss';

.slide {
  &-row {
    margin-top: 5%;
  }
  &-cate-content {
    display: block;
    margin-left: 55px;
    color: $backgroundColor;
  }
  &-images {
    width: auto;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: all 0.3s ease-in-out;
    }
  }
}
.rightSlideItem,
.leftSlideItem {
  display: flex;
  gap: 10%;
  margin: 30px 40px;
}
