.sideBar-container {
  position: fixed;
}

img {
  // width: 200px;
  // height: 200px;
  width: auto;
  height: 60vh;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #ff6523;
}

.slide-card {
  display: flex;
  gap: 20px;
  margin: 30px 40px;
}
