html {
  font-size: 16px;
  --main-color: #ed234b;
  --main-black: #171717;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
