@use 'abstracts' as *;
@use 'base' as *;

body {
  min-height: 100vh;
  width: 100%;
  font-weight: $font-thin;
  background: $blue;
}

.authForm {
  width: 100%;
  max-width: $formWidth;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: $bg-light;
  border-radius: 5px;
  padding: 5rem 3rem;

  &__title {
    position: relative;
    width: 100%;
    line-height: 4rem;
    font-size: $font-lg;
    font-weight: $font-bold500;
    letter-spacing: 2px;
    color: $darkBlue;

    &::before {
      content: '';
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -3rem;
      background: $darkBlue;
    }
  }

  &__button {
    width: 100%;
    line-height: 6.4rem;
    font-weight: $font-bold900;
    font-size: $font-base;
    margin: 6rem 0 2rem;
    border: 3px solid transparent;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    outline: none;
  }
}

// 컴포넌트로 뺄 부분 삭제 예정 (디자인 확인 용)
.link {
  font-size: $font-base;
  margin: 1rem 0 2rem;
  color: $black;
  text-align: center;
  transition: 0.2s ease;

  a {
    color: $darkBlue;
  }
}

.link > a:hover {
  color: $darkBlue;
}

.input-container {
  position: relative;
  margin-top: 55px;
}

.input-container label {
  font-size: 0.9rem;
  color: var(--label-color);
}

.input-container input {
  color: var(--font-color);
  width: 100%;
  height: 50px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0.4rem;
}

.input-container input:focus + label,
.input-container input:valid + label {
  top: -65%;
  font-size: 0.8rem;
}

.input-container input + label {
  position: absolute;
  font-size: $font-base;
  top: 0;
  left: 0.4rem;
  line-height: 60px;
  cursor: pointer;
  transition: var(--transition-delay) ease;
}

.input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: $blue;
  width: 100%;
  height: 1px;
}

.input-container .bar:before,
.input-container .bar:after {
  content: '';
  position: absolute;
  background: var(--main-color);
  width: 0;
  height: 2px;
  transition: var(--transition-delay) ease;
}

.input-container .bar:before {
  left: 50%;
}

.input-container .bar:after {
  right: 50%;
}

.input-container input:focus ~ .bar:before,
.input-container input:focus ~ .bar:after {
  width: 50%;
}

.input-container .icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1rem;
  right: 0.4rem;
  font-size: 1.4rem;
  pointer-events: none;
}

.input-container .icon.icon-success {
  color: var(--blue);
}

.input-container .icon.icon-error {
  color: var(--red);
}

.input-container .error {
  position: absolute;
  top: 120%;
  left: 0.4rem;
  font-size: 0.8rem;
  color: var(--red);
}
.hidden {
  display: none !important;
}
