@use './abstracts' as *;
@use './base' as *;

.mainPage__content__gallery {
  width: 100%;
  height: 102%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  line-height: 0;
  & figure {
    position: relative;
    width: 49%;
    height: 48%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $blue;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    &:nth-child(1) {
      border-left: none;
      border-top: none;
      border-radius: 0 0 10px 0;
    }

    &:nth-child(2) {
      border-right: none;
      border-top: none;
      border-radius: 0 0 0 10px;
    }
    &:nth-child(3) {
      border-left: none;
      border-bottom: none;
      border-radius: 0 10px 0 0;
    }
    &:nth-child(4) {
      border-right: none;
      border-bottom: none;
      border-radius: 10px 0 0px 0;
    }
    & figcaption {
      position: absolute;
      bottom: 0;
      background: rgb(78 115 223 / 90%);
      color: $white;
      width: 100%;
      padding: 0 1rem;
      line-height: 1.5rem;
      box-sizing: border-box;

      & h3 {
        font-size: $font-base;
      }
      &p {
        font-size: 2rem;
      }
      & h3,
      & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
